header {
    /* background: #ffd527; */
    color: black;
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: "nav name .";  
}

h1 {
    font: 700 8vw 'Space', sans-serif;
    grid-area: name;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    color: black;
    background-clip: text;
    animation: .8s shake infinite alternate;
    animation-delay: 1s;
}