body {
    background: rgb(21,16,101);
    background: linear-gradient(0deg, rgba(9,6,55,1) 0%, rgba(12,9,68,1) 10%, rgba(4,2,37,1) 25%, rgba(2,0,36,1) 50%, rgba(4,2,37,1) 75%, rgba(10,7,60,1) 90%, rgba(21,16,101,1) 100%);
    color: rgb(220, 220, 255);
}

header {
    /* background: #ffd527; */
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: "nav name .";  
}

h1 {
    font: 700 8vw 'Space', sans-serif;
    grid-area: name;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

a {
    text-decoration: none;
    color: rgb(220, 220, 255);
}