html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Aileron';
    src: url(fonts/Aileron-Regular.otf);
}

body {
    font-family: 'Aileron';
    letter-spacing: 1px;
    line-height: 2;
    overflow-x: hidden;
    background: yellow;
    scroll-behavior: smooth;
}

.mob {
    display: none;
}

#topnav_hamburger_icon {
    display: none;
}

/* HEADER */
.cercle {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px dotted black;
    top: 100px;
    right: 500px;
    transition: ease-in-out;
    transition-duration: .5s;
}

.cercle:hover {
    border: 6px dotted black;
    width: 450px;
    height: 450px;
  }

nav{
    grid-area: nav;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 100px;
    /* text-align: right; */
    font-size: 18px;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: indigo;
}

.breathe:hover {
    animation-name: breathe;
    animation-duration: 4.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes breathe {
    0% {
      color: rgb(185, 0, 176);
    }

    50% {
        color: rgba(255, 1, 77, 0.137);
        }
    
    100% {
        color: rgb(185, 0, 176);
    }
  }


header {
    background: yellow;
    color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "nav . name";  
}

h1 {
    font: 700 8vw 'Aileron', sans-serif;
    grid-area: name;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    color: black;
    background-clip: text;
    animation: .8s shake infinite alternate;
    animation-delay: 1s;
}

@keyframes shake {
  0% { transform: skewX(-25deg); }
  5% { transform: skewX(25deg); }
  10% { transform: skewX(-45deg); }
  15% { transform: skewX(45deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  }

h1:hover {
    animation: shake;
    animation-play-state: paused;
}

/* HEADER */

/* PRESENTATION */
.prez {
    height: 100vh;
    background: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas: ". photo para";
    gap: 20px;
    /* align-items: center; */
}

.prez .gauche {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: photo;
    margin-right: 40px;
}

.prez .gauche p {
    font-style: italic;
    padding: 0 40px;
}

.prez .droite{
    align-self: center;
    grid-area: para;
    width: 40vw;
    font-size: 14px;
}

button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'Aileron', sans-serif;
}

button:hover {
    border: 4px solid rgb(185, 0, 176);
    color: rgb(185, 0, 176);
    font-weight: 700;
    cursor: pointer;
}

.photo-border {
    margin: 80px 0px 20px 0;
    padding: 14px;
    border: 10px solid black;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {
    border-radius: 50%;
    width: 350px;
    filter: grayscale(100%) contrast(1.3);
}

/* PROJETS */
.projets {
    background: yellow;
}

.projets h1 {
    padding: 40px 250px;
}

.proj {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.simplon_fil_rouge {
    background: url(images/hackeuse.png) no-repeat center/cover;
}

.simplon_ecommerce {
    background: url(images/jeanne.png) no-repeat center/cover;
}

.simplon_serietv {
    background: url(images/expanse.jpg) no-repeat top/cover;
    /* filter: grayscale(100%) contrast(1.3); */
}

.title_box{
    position: absolute;
    right: 0;
    height: 90vh;
    width: 30%;
    background: black;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left {
    left: 0;
}

.title_box h3, .title_box h4 {
    padding: 20px;
}

h3 {
    font-size: clamp(20px, 2vw, 40px);
}

.hack {
    line-height: 0.8;
    font-size: 60px;
    text-transform: uppercase;
}

.title_box h4 {
    text-align: right;
    font-size: 12px;
}

/* PROJETS */

/* CONTACT */
#contact {
    height: 100vh;
    background: yellow;
    display: grid;
    grid-column: 1fr 2fr 1fr;
    grid-template-areas: 
    ". h1 ."
    ". h2 ."
    ". social sign";
    border: 2px solid red;
}

.contact h1 {
    border: 2px solid blue;
    grid-area: h1;
}

.contact h2 {
    grid-area: h2;
}
.contact .social {
    grid-area: social;
}

.contact .signature {
    grid-area: sign;
    text-align: right;
    justify-self: center;
    align-self:center;
}
/* CONTACT */

@media (max-width: 1000px) {
    .cercle {
        width: 250px;
        height: 250px;
        border: 4px dotted black;
        top: 100px;
        right: 400px;
    }

    .cercle:hover {
        border: 5px dotted black;
        width: 300px;
        height: 300px;
      }

    .prez {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "photo para";
    }

    .prez .gauche {
        margin-right: 0;
    }

    .prez .droite {
        width: 60vw;
        margin-left: 20px;
        margin-right: 40px;
    }

    .photo-border {
        padding: 15px;
        border: 8px solid black;
        margin: 20px;
    }

    .portrait {
        width: 250px;
    }
}

@media (max-width: 950px) {
    .prez {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px 30px;
    }

    #contact {
    grid-column: 1fr auto auto;
    }

/* -------------------- Menu Burger ----------------------- */
.hide {
    display: none;
}

.mob {
    display: block;
    position: fixed;
}

.burger {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burger span{
    width: 45px;
    height: 5px;
    background-color: black;
    border-radius: 15px;
}

#topnav_hamburger_icon {
    margin: 20px;
    position: fixed;
    display: block;
}

#root {
    position: fixed;
    overflow-x: hidden;
}

#topnav_responsive_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 55vw;
    height: 55vh;

    z-index: 4;

    transform-origin: 0% 0%;
    transform: translate(-200%, 0);

    transition: transform 1s ;
}

/* and let's slide it in from the left */
#topnav_responsive_menu.open {
    transform: none;
    position: fixed;
}

#topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    text-align: right;
    background:rgba(0, 0, 0, 0.85);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

#topnav_responsive_menu li {
    font-size: 14px;
    padding: 4% 0;
}

#topnav_responsive_menu a {
    color: yellow;
}

#topnav_responsive_menu a:active {
    color: indigo;
}

.retour {
    text-decoration: none;
    color: blue;
}
/* -------------------- Menu Burger ----------------------- */

}

@media (max-width: 700px) {
    header {
        display: flex;
        align-content: center;
    }

    .cercle {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    h1 {
        font: 700 20vw 'Aileron', sans-serif;
        padding-left: 40px;
    }

    .prez .droite {
        width: 75vw;
        margin-left: 0;
        margin-right: 0;
    }

    .prez .gauche p {
        padding: 0 40px;
        font-size: 14px;
    }

    .proj {
        display: flex;
        flex-direction: column;
    }

    .projets h1 {
        padding: 20px 40px;
    }

    .title_box{
        position: relative;
        width: 100vw;
        height: 40vh;
    }

    #contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 20px;
        height: 80vh;
    }

}

